<div data-role="page" id="flightSearch<%= q.camelize%>">
  <div data-role="header" class="header">
    <div id="findFlights">      
       <span id="searchFieldGroup">
         <strong id="from_to_text"><%= q.camelize%></strong>
         <%= text_field_tag q, "", :id => "search_#{q}", :class => "searchField", :placeholder => "Type a city or Airport Code" %>
         <span class="clearSearchbox" id="clearSearch"><span class="hidden">Clear Search</span></span>
       </span>
       <%= hidden_field_tag q, "", :id => "search_#{q}_hidden" %>
       <a href="#flightIndex" class="doneBtn" <%= q.eql?("from") ? "data-direction='reverse'" : "data-transition='slide'"%>>Done</a>
     </div>
  </div>
  
  <div data-role="content"> 
    <div id="searchPage" class="contentWrap left">
      <div id="geolocation" class="left geoneararea nearestairport<%= q.camelize%>">
        <div id="geoLocWrap" class="left fullwidth">
          <span class="boxLeft left"></span>
          <span id="geolocationTxt" class="left">
            <span id="plane" class="left"></span>
            <span id="geolocationHeader" class="geolocationHeaderclass">Show nearest <%= (q == "from")?  "Departure" : "Return" %> airports</span>
            <span id="pen" class="right"></span>
          </span>
          <span class="boxRight right"></span>
        </div>
        
      </div>
      <div id="airportLst<%= q.camelize%>" class=" searchResults left fullwidth">
        <span id="searchHeader" class="searchHeaderbox">Search airports via City or Airport Code</span>
      </div>
    </div>
  </div>
  
  <div data-role="footer" class="footer">
    <%= render "footer" %>
  </div>
</div>
