<!DOCTYPE html>
<html>
  <head>
    <title>Jetstar</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="cleartype" content="on">
    
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "custom" %>
    <%#= stylesheet_link_tag "jquery.ui.custom" %>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path('apple-touch-114x114.png') %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path('apple-touch-icon-72x72.png') %>" />
    <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon-57x57.png') %>" />
    <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon.png') %>" />
    <%= stylesheet_link_tag "jquery.ui.custom" %>
    <%= stylesheet_link_tag "jquery.ui.datepicker" %>
    <%= javascript_include_tag "application" %>
    <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
    <%= javascript_include_tag "jQuery.ui.datepicker" %>
    <%= javascript_include_tag "jquery.mobile.datepicker" %>
    <%= javascript_include_tag "jquery.iphonepicker"%>

    <%= csrf_meta_tag %>
  
    <%= javascript_include_tag "modernizr-custom"%>
    <script>
      Modernizr.mq('(min-width:0)') || document.write('<script src="respond.min.js">\x3C/script>')
    </script>
    <script>
    $( document ).bind( "mobileinit", function(){
        $.mobile.page.prototype.options.degradeInputs.date = true;
      });
      var centerLatitude = -38.47;
      var centerLongitude = 144.98;
      var origin_airports = ['<%= @origins.join("\', \'") if @origins %>'];
      var destination_airports = ['<%= @destination.join("\', \'") if @destination %>'];
    </script>

  </head>
  <body>
    <div id="container" data-role="page">
      <div data-role="header" class="header">
          <div id="findFlights">
            <div id="midHeader"><h2>Demo</h2></div>
          </div>
      </div>
      
      <div id="main" data-role="content">
        <div id="introWrap">
          <div id="intro">
            <%= link_to "Find Flights", "#flightIndex", "data-transition" => "slide"%>
          </div>
        </div>
      </div>
      
      <footer class="left">
        <%= render "footer" %>
      </footer>
    </div>
    <%= hidden_field_tag "origin", "", :id => "searchOrigin" %>
    <%= hidden_field_tag "destination", "", :id => "searchDestination" %>
    
    <%= render "flight" %>
    <%= render "search", :q => "from" %>
    <%= render "search", :q => "to" %>
    <%= render "calendar" %>
    
    
    <script>
      $(document).ready(function() {
        if (Modernizr.geolocation)
          navigator.geolocation.getCurrentPosition(function(position) {
            centerLatitude = position.coords.latitude;
            centerLongitude = position.coords.longitude;
            <%- if Rails.env != "production" %>
            // // remove me...
            centerLatitude = -33.870721;
            centerLongitude = 151.204814;
            <%- end -%>
            findClosestAirport(centerLatitude, centerLongitude, "from");
          });
        else {
          findClosestAirport(centerLatitude, centerLongitude, "from");
        }
      });
    </script>
  </body>
</html>
